// 浮动、清除浮动
@mixin clearFix{
  &:after{
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
    font-size:0;
    content:"";
  }
}

// 水平垂直都居中
@mixin levelVerticalCenter{
  position:absolute;
  left:50%;top:50%;
  transform:translate(-50%, -50%);
}

// 超出省略号
@mixin textEllipsis{
  max-width:100%;
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
}

// 三角
@mixin arrow($borderWidth: 5px){
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  font-size: 0;
  border: $borderWidth dashed transparent;
}
// 下三角
@mixin arrow-b($borderTopWidth: 15px, $borderTopColor: #99ffff){
  border-top: $borderTopWidth solid $borderTopColor;
}
// 上三角
@mixin arrow-t($borderBottomWidth: 15px, $borderBottomColor: #99ffff){
  border-bottom: $borderBottomWidth solid $borderBottomColor;
}
// 右三角
@mixin arrow-r($borderLeftWidth: 15px, $borderLeftColor: #99ffff){
  border-left: $borderLeftWidth solid $borderLeftColor;
}
