@import './_mixin';

// 浮动、清除浮动
.clearfix {
    @include clearFix;
    zoom: 1;
}

// 页面基础公共样式
html {
    color:#333;

    body {
        min-width: 1366px;
        max-width: 1920px;
        margin:0 auto;
        overflow-x:auto;
    }
    .hidden {
        display: none !important;
    }
    .disabled {
        cursor: not-allowed !important;
    }
    .iconfont {
        @include iconfont;
    }
}
